.citiesList1{
    display: flex;
    justify-content: center;
}
.citiesList2{
    justify-content: center;
}
.citiesList3{
    display: flex;
    justify-content: center;
}
.row, .col {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cityProfile{
    display: flex;
    justify-content: center;
}
img{
    width: 20em;
}