img#city-card {
    width: 300px;
    height: auto;
}
.col{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.col{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.city-preview3{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}