nav{
  background-color: white ;
  height: 6em;
  padding-top: .6em;
  padding-bottom: 1em;
}
nav .nav-wrapper {
  position: relative;
}
nav .brand-logo {
  position: absolute;
  color: black;
  display: flex;
  font-size: 2.1rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: 1.5em; 
  align-items: center;
}
nav a {
  color: black ;
}
nav ul a:hover {
  background-color: rgba(1,0,0,0.2);
}

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  cursor: pointer;
  align-content: center;
  align-items: center;
}

img {
  padding: 0 1em;
}
.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
  color: grey;
  
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;

}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
  color: black;
}